body {
  background-image: url(images/rainbow13.png);
    margin-top: 15px;
}
#mainContainer {
  width: 1330px;
  height: 930px;
  margin-right: auto;
  margin-left: auto;
}

A{
  text-decoration: none;
}

#left_under1{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk1a.png);
      z-index:-1;
      position:absolute;
}
#left_over1{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves1a.png);
      z-index:1;
      position:absolute;
}

#left_under2{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk2a.png);
      z-index:-1;
      position:absolute;
}
#left_over2{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves2a.png);
      z-index:1;
      position:absolute;
}

#left_under3{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk3a.png);
      z-index:-1;
      position:absolute;
}
#left_over3{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves3a.png);
      z-index:1;
      position:absolute;
}

#left_under4{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk4a.png);
      z-index:-1;
      position:absolute;
}
#left_over4{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves4a.png);
      z-index:1;
      position:absolute;
}

#right{
  width: 150px;
  height: 900px;
     float: right;
}
#right_under1{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk1b.png);
      z-index:-2;
      position:absolute;
}
#right_over1{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves1b.png);
      z-index:2;
      position:absolute;
}

#right_under2{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk2b.png);
      z-index:-2;
      position:absolute;
}
#right_over2{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves2b.png);
      z-index:2;
      position:absolute;
}

#right_under3{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk3b.png);
      z-index:-2;
      position:absolute;
}

#right_over3{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves3b.png);
      z-index:2;
      position:absolute;
}

#right_under4{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_trunk4b.png);
      z-index:-2;
      position:absolute;
}

#right_over4{
  width: 150px;
  height: 900px;
    float: left;
      background-image: url(images/tree_leaves4b.png);
      z-index:2;
      position:absolute;
}

#leftSide1{
  width: 150px;
  height: 180px;
    float: left;
  background-image: url(images/monkey_slide_left.png);
  display:none;
  position: absolute;
  z-index:4;
}

#leftSide2{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 180px;
        background-image: url(images/cat_slide_left.png);
  display:none;
  position: absolute;
   z-index:4;
}
#leftSide3{
  width: 150px;
  height: 180px;
    float: left;
     margin-top: 360px;
    background-image: url(images/octopus_slide_left.png);
  display:none;
  position: absolute;
   z-index:4;
}
#leftSide4{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 540px;
        background-image: url(images/stripeBird_left.png);
  display:none;
 position: absolute;
  z-index:4;
}
#leftSide5{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 720px;
        background-image: url(images/penguin_slide_left.png);
  display:none;
   z-index:4;
}

#rightSide1{
  width: 150px;
  height: 180px;
    float: left;
  background-image: url(images/stripeBird_right.png);
  display:none;
  position: absolute;
   z-index:4;
}

#rightSide2{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 180px;
        background-image: url(images/monkey_slide_right.png);
  display:none;
  position: absolute;
   z-index:4;
}
#rightSide3{
  width: 150px;
  height: 180px;
    float: left;
     margin-top: 360px;
    background-image: url(images/stripeBird_right.png);
  display:none;
  position: absolute;
   z-index:4;
}
#rightSide4{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 540px;
        background-image: url(images/panda_slide_right.png);
  display:none;
 position: absolute;
  z-index:4;
}
#rightSide5{
  width: 150px;
  height: 180px;
    float: left;
    margin-top: 720px;
        background-image: url(images/octopus_slide_right.png);
  display:none;
   z-index:4;
}
#container1 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #ffff99;
  border-bottom: 15px solid #999900;
  border-left: 15px solid #cccc00;
  border-right: 15px solid #cccc00;
  background-color: #ffff33;
}
#container2 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #FFC0CB;
  border-bottom: 15px solid #8B668B;
  border-left: 15px solid #DB7093;
  border-right: 15px solid #DB7093;
  background-color: #FFE1FF;
}


#container3 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #00CDCD;
  border-bottom: 15px solid #00008B;
  border-left: 15px solid #00B2EE;
  border-right: 15px solid #00B2EE;
  background-color: #98F5FF;
}


#container4 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #FFF8DC;
  border-bottom: 15px solid #8B8878;
  border-left: 15px solid #CDC8B1;
  border-right: 15px solid #CDC8B1;
  background-color: #EEE8CD;
}

#container5 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #FFF8DC;
  border-bottom: 15px solid #8B8878;
  border-left: 15px solid #CDC8B1;
  border-right: 15px solid #CDC8B1;
  background-color: #fbc97f;
}

#container6 {
  width: 1000px;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
  border-top: 15px solid #FFF8DC;
  border-bottom: 15px solid #698B22;
  border-left: 15px solid #B3EE3A;
  border-right: 15px solid #B3EE3A;
  background-color: #CAFF70;
}

#flight4 {
  width: 1130px;
  height: 200px;
  margin-left: 100px;
  position: absolute;
  z-index: 3;
  background-image: url(images/parrot_flight.png);



}

#monkey_bounce {
  width: 1330px;
  height: 300px;
  margin-top: 600px;
  position: absolute;
  z-index: 2;
    margin-right: auto;
  margin-left: auto;
  background-image: url(images/monkey_bounce.png);
}

#rooster_bounce {
  width: 1330px;
  height: 300px;
  margin-top: 600px;
  position: absolute;
  z-index: 2;
    margin-right: auto;
  margin-left: auto;
  background-image: url(images/rooster_bounce.png);
}


#bird_bounce {
  width: 1330px;
  height: 250px;
  margin-top: 650px;
  position: absolute;
  z-index: 2;
    margin-right: auto;
  margin-left: auto;
  background-image: url(images/bird_bounce.png);

}

#banner {
  width: 700px;
  height: 200px;
  background-image: url(images/creature_banner2.png);
  float: left;
}

#text {
  width: 290px;
  height: 180px;
  float: left;
  padding-left: 10px;
  padding-top: 20px;
}

.text_blk_18 {
 font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000;
}

.text_blk_30 {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  color: #000;
}

.text_blk_22 {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #000;
}

.text_blk_25 {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: #000;
}
.text_white_30 {
font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  color: #fff;
}

.text_yellow_30 {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  color: #ffff00;
}

.text_yellow_30_bold {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  color: #ffff00;
  font-weight: bold;
  text-decoration: none;
}

.text_red_18 {
  font-family: 'Happy Monkey', cursive;
  font-size: 18px;
  color: #ff0000;
}

.text_pink_24 {
  font-family: 'Happy Monkey', cursive;
  font-size: 24px;
  color: #ff00ff;
}
.text_blue_24 {
  font-family: 'Happy Monkey', cursive;
  font-size: 24px;
  color: #0000ff;
}

.text_blue_18 {
 font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #0000ff;
}

.text_red_24 {
  font-family: 'Happy Monkey', cursive;
  font-size: 24px;
  color: #ff0000;
}

#quiz_container  {
  width: 700px;
  height: 500px;
  float: left;
}

#quiz {
  width: 350px;
  height: 500px;
  float: left;
  position: relative;
  z-index: 4;
}

#quiz5 {
  width: 1000px;
  height: 500px;
  float: left;
  position: relative;
  z-index: 4;
}


#stage {
  width: 170px;
  height: 60px;
  float: left;
  padding-left: 30px;
}



#question {
  width: 290px;
  height: 100px;
  float: left;
  padding-left: 30px;
  padding-left: 30px;
}


#try {
position:relative;
  width: 290px;
  height: 50px;
  float: left;
  margin-top:0px;
  padding-left: 30px;
  padding-left: 30px;
}

.try{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size:45px;
text-align: left;
color: red;

}
#answer {
  width: 270px;
  height: 255px;
  padding-left: 30px;
  float: left;
}



#ticks1{
  display:none;
  }
#tick_1{
  display:none;
  }
  
#tick_2{
  display:none;
  }


#slides  {
  width: 260px;
  height: 430px;
  background-color: #17e917;
  float: left;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
    margin-bottom: 50px;
}


#slides5  {
  width: 260px;
  height: 430px;
  background-color: #FFE4B5;
  float: left;
  border-top: 10px solid #FFF8DC;
  border-bottom: 10px solid #8B8878;
  border-left: 10px solid #CDB38B;
  border-right: 10px solid #CDB38B;
    margin-bottom: 50px;
	margin-left: 40px;
}
#slides5cat{
  width: 260px;
  height: 430px;
  
  float: left;
  border-top: 10px solid #FFF8DC;
  border-bottom: 10px solid #8B8878;
  border-left: 10px solid #CDB38B;
  border-right: 10px solid #CDB38B;
    margin-bottom: 50px;
	margin-left: 40px;
	
	  /*background-image: url(images/cat.png);*/
	
}
#slides_cat  {
  width: 260px;
  height: 430px;
  background-color: #17e917;
  float: left;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
    margin-bottom: 50px;
    background-image: url(images/cat.png);
}


#slides_panda  {
  width: 260px;
  height: 430px;
  background-color: #17e917;
  float: left;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
    margin-bottom: 50px;
    background-image: url(images/panda.png);
}

#slides_penguin1 {
  width: 260px;
  height: 430px;
  background-color: #17e917;
  float: left;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
    margin-bottom: 50px;
    background-image: url(images/penguin_puzzle1.png);
}

#slides_empty{
  width: 260px;
  height: 430px;
  background-color: #17e917;
  float: left;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
    margin-bottom: 50px;

}

#slides_1 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/monkey_1.png);
  border-bottom: 5px solid #00ff00;
  display:none;
}
#slides_2 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/monkey_2.png);
  border-bottom: 5px solid #00ff00;
  display:none;
}
#slides_3 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/monkey_3.png);
  display:none;
}

#slides2_1 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/octopus_1.png);
  border-bottom: 5px solid #00ff00;
  display:none;
}
#slides2_2 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/octopus_2.png);
  border-bottom: 5px solid #00ff00;
  display:none;
}
#slides2_3 {
  width: 260px;
  height: 140px;
  background-color: #66ff66;
  float: left;
  background-image: url(images/octopus_3.png);
  display:none;
}


#slides3{
  width: 260px;
  height: 430px;
  float: left;
  background-image: url(images/curtain_red.jpg);
}


#slides4_1{
  width: 260px;
  height: 430px;
  float: left;
    background-color: #66ff66;
  background-image: url(images/penguin.png);
  display:none;
}


#slides4_puzzle2{
  width: 260px;
  height: 430px;
  float: left;
  background-image: url(images/penguin_puzzle2.png);
   display:none;
}

#ticks {
  width: 70px;
  height: 450px;
  float: left;
}

#tick_1 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/green_tick.png);
}

#tick_2 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/green_tick.png);
}

#tick_3 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/green_tick.png);
}

#tick_none {
  width: 70px;
  height: 150px;
  float: left;
}

#cross_1 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/red_x.png);
}


#cross_2 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/red_x.png);
}

#cross_3 {
  width: 70px;
  height: 150px;
  float: left;
  background-image: url(images/red_x.png);
  margin-bottom: 50px;
}

.question  {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px;
	text-align: left;
	color: #0972f4;

}

.answer {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 36px;
	text-align: left;
	color: #0972f4;
}
li {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	text-align: left;
	color: #b416ef;
	list-style-type:none;
	cursor:pointer;
}

#stages_container {

  width: 300px;
  height: 500px;
  float: left;
}

#stageTop {
  width: 350px;
  height: 60px;
  float: left;
}

#stages {
  width: 170px;
  height: 400px;
  padding-left: 30px;
  font-weight: bold;
  float: left;
  font-size: 36px;
}

.stage1 {
  	font-family: 'Autour One', cursive;
	font-size: 34px;
	text-align: left;
	color: #00ff00;
}

.stage2 {
  	font-family: 'Autour One', cursive;
	font-size: 34px;
	text-align: left;
	color: #ff9900;
}

.stage3 {
  	font-family: 'Autour One', cursive;
	font-size: 34px;
	text-align: left;
	color: #0000ff;
}

.stage4 {
  	font-family: 'Autour One', cursive;
	font-size: 34px;
	text-align: left;
	color: #ff00cc;
}

.stage5 {
  	font-family: 'Autour One', cursive;
	font-size: 34px;
	text-align: left;
	color: #ff0000;
}

.text_black {
    font-family: 'Autour One', cursive;
  font-size: 34px;
  text-align: left;
  color: #000000;
}

.stage_tick_none {
  width: 100px;
  height: 80px;
  float: left;
  display:none;
}

.stage_tick {
	width: 100px;
 	height: 80px;
 	background-image: url(images/stage_tick.png);
 	float: left;
}



#score_text {
  width: 120px;
  height: 70px;
    padding-top: 30px;
  padding-left: 30px;
  font-weight: bold;
  float: left;
  font-size: 36px;
}

#score {
  width: 55px;
  height: 30px;
  margin:15px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
    
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
   background-color: #66ff66;
}

#countdown {
  width: 55px;
  height: 40px;
  float: left;
  font-family: tahoma;
	font-size: 1.8em;
	font-weight:bold;
	color: red;
  border-top: 10px solid #00ff00;
  border-bottom: 10px solid #00ff00;
  border-left: 10px solid #00cc00;
  border-right: 10px solid #00cc00;
   background-color: #66ff66;
}

#bottom {
  width: 1000px;
  height: 200px;
  float: left;
}

#badges {
  width: 700px;
  height: 200px;
  float: left;
}

#badges5 {
  width: 1000px;
  height: 200px;
  float: left;
}
#badges_text {
  width: 670px;
  height: 30px;
  float: left;
  padding-left: 30px;
}

#badges_text5 {
  width: 970px;
  height: 30px;
  float: left;
  padding-left: 30px;
}

#right_side {
  width: 300px;
  height: 700px;
  float: left;
}

#five_badges {
  width: 650px;
  height: 170px;
  float: left;
  padding-right: 25px;
  padding-left: 25px;
}

#eight_badges {
  width: 950px;
  height: 170px;
  float: left;
  padding-right: 25px;
  padding-left: 25px;
}

.badge {
  width: 100px;
  height: 140px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border-top: 5px solid #00ff00;
  border-bottom: 5px solid #00ff00;
  border-left: 5px solid #00cc00;
  border-right: 5px solid #00cc00;
   background-color: #00ffff;
}


#big_buttons {
  width: 300px;
  height: 200px;
  float: left;
}

#again_button {
  width: 230px;
  height: 50px;
  border-top: 10px solid #99ffff;
  border-bottom: 10px solid #0099ff;
  border-left: 10px solid #33ccff;
  border-right: 10px solid #33ccff;
    padding-top: 5px;
 text-align: center;
 vertical-align: middle;
 margin-bottom: 30px;
 background-color: #00ffff;
 float: left;
}

#next_button {
  width: 205px;
  height: 45px;
  border-top: 10px solid #ff9999;
  border-bottom: 10px solid #990033;
  border-left: 10px solid #cc0033;
  border-right: 10px solid #cc0033;
  background-color: #ff0000;
  margin-top: 200px;
  margin-left:20px;
  text-align: center;
  float: left;
  display: none;
  z-index: 5;
  position: absolute;
}

#start_button {
  width: 205px;
  height: 75px;
  border-top: 10px solid #FF69B4;
  border-bottom: 10px solid #8B0A50;
  border-left: 10px solid #CD1076;
  border-right: 10px solid #CD1076;
  background-color: #FF1493;
  margin-top: 355px;
  margin-left:20px;
  text-align: center;
  float: left;
  z-index: 5;
  position: absolute;
}

#drag_elephant1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/elephant_1.png);
}

#drag_elephant2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/elephant_2.png);
}

#drag_elephant3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/elephant_3.png);
}

#drag_cat1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/cat_1.png);
}

#drag_cat2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/cat_2.png);
}

#drag_cat3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/cat_3.png);
}

#drag_bluebird1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/bluebird_1.png);
}

#drag_bluebird2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/bluebird_2.png);
}

#drag_bluebird3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/bluebird_3.png);
}

#drag_flamingo1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/flamingo_1.png);
}

#drag_flamingo2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/flamingo_2.png);
}

#drag_flamingo3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/flamingo_3.png);
}

#drag_giraffe1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/giraffe_1.png);
}

#drag_giraffe2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/giraffe_2.png);
}

#drag_giraffe3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/giraffe_3.png);
}

#drag_dog1 {
  width: 260px;
  height: 140px; 
  background-image: url(images/dogbrown_1.png);
}

#drag_dog2 {
  width: 260px;
  height: 140px; 
  background-image: url(images/dogbrown_2.png);
}

#drag_dog3 {
  width: 260px;
  height: 140px; 
  background-image: url(images/dogbrown_3.png);
}
.jigsaw{
	width: 260px;
	height: 140px; 
	border-bottom: 5px solid #EED5B7;
	/*background-color: red;*/
}

.jigsaw_no_border{
	width: 260px;
	height: 140px; 
	/*background-color: red;*/
}


#stage6_text{
  width:220px;
  height:500px;
  padding-left: 30px;
  float:left;
}

#random_buttons{
  width:100px;
  height:500px;
  float:left;

}

#red_button1{
width:100px;
  height:140px;
    background-image: url(images/red_button1.png);
}
#red_button2{
width:100px;
  height:140px;
    background-image: url(images/red_button1.png);
}

#red_button3{
width:100px;
  height:140px;
    background-image: url(images/red_button1.png);
}


#slides6_1 {
  width: 260px;
  height: 140px;

  float: left;

}

#slides6_2 {
  width: 260px;
  height: 140px;

  float: left;

}

#slides6_3 {
  width: 260px;
  height: 140px;

  float: left;

}